<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mq.music.mapper.MessagerMapper">
    <select id="selectAll" resultType="com.mq.music.bean.Messager">
        select  * from t_messager
    </select>
    <select id="queryMessagerLogin" parameterType="map" resultType="com.mq.music.bean.Messager">
  	select * from t_messager where
  	username=#{username} and password=#{password}
  </select>
</mapper>