<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" taglib>
<head>
    <title>Home</title>
    <!-- Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content=""
    />
    <script>
        addEventListener("load", function () { setTimeout(hideURLbar, 0); }, false); function hideURLbar() { window.scrollTo(0, 1); }
    </script>
    <!-- Meta tags -->
    <!--stylesheets-->
    <link th:href="@{css/style.css}" rel='stylesheet' type='text/css' media="all">
    <!--//style sheet end here-->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
</head>
<body th:style="'background:url(' + @{/images/bg2.jpg} + ');'" >
<div class="mid-class">
    <div class="art-right-w3ls">
        <h2>登录</h2>
        <form method="post">
            <div class="main">
                <div class="form-left-to-w3l">
                    <input type="text" id="fusername" name="username" placeholder="Username" required="">
                </div>
                <div class="form-left-to-w3l ">
                    <input type="password" id="fpassword" name="password" placeholder="Password" required="">
                    <div class="clear"></div>
                </div>
                <div class="form-left-to-w3l ">
                    <select id="ftype" style="height: 42px">
                        <option  value="member">会员</option>
                        <option  value="user">管理员</option>
                    </select>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="left-side-forget">
                <input  type="checkbox" class="checked">
                <span class="remenber-me">记住我</span>
            </div>

            <div class="w3layouts_more-buttn">

                <a href="#content1">注册
                </a>

            </div>
            <div class="clear"></div>
            <div class="btnn">
                <button type="button" onclick="dologin()">登录</button>
            </div>
        </form>

        <!-- popup-->
        <div id="content1" class="popup-effect">
            <div class="popup">
                <!--login form-->
                <div class="letter-w3ls">
                    <form action="#" method="post">
                        <div class="form-left-to-w3l">
                            <input type="text"  name="username" placeholder="用户名" required="">
                        </div>
                        <div class="form-left-to-w3l">
                            <input type="password" name="password" placeholder="密码" required="">
                        </div>
                        <div class="form-left-to-w3l">
                            <input type="password" name="password" placeholder="确认密码" required="">
                        </div>
                        <div class="form-left-to-w3l">
                            <input type="text" name="sex" placeholder="性别" required="">
                        </div>
                        <div class="form-left-to-w3l margin-zero">
                            <input type="email" name="email" placeholder="邮箱" required="">
                        </div>
                        <div class="btnn">
                            <button type="submit">注册</button>
                            <br>
                        </div>
                    </form>
                    <div class="clear"></div>
                </div>
                <!-- //popup -->
            </div>
        </div>
    </div>
</div>
<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{backstage/jquery/layer/layer.js}"></script>
            <script>
                function dologin() {

                    var fusername = $("#fusername");
                    var fpassword = $("#fpassword");
                    var ftype = $("#ftype");

                    if ($.trim(fusername.val()) == "") {
                        // alert("用户名不能为空，请重新输入");
                        layer.msg("<a style='color:red;'>用户名不能为空，请重新输入</a>", {
                            tips: [3, "red"],
                            time: 1000,
                            icon: 5,
                            shift: 6,
                            anim: 1
                        }, function () {
                            fusername.val("");
                            fusername.focus;
                        });
                        return false;
                    }
                    if ($.trim(fpassword.val()) == "") {
                        layer.msg("<a style='color:red;'>密码不能为空，请重新输入</a>", {time: 1000, icon: 5, shift: 6}, function () {
                            fpassword.val("");
                            fpassword.focus;
                        });
                        return false;
                    }

                    var loadingIndex = -1;

                    $.ajax({
                        type: "POST",
                        data: {
                            username: fusername.val(),
                            password: fpassword.val(),
                            type: ftype.val()
                        },
                        url: "dologin",
                        beforsend: function () {
                            loadingIndex = layer.msg('处理中...', {icon: 16});
                            //一般做表单数据校验
                            return true;
                        },
                        success: function (result) {
                            layer.close(loadingIndex);
                            if (result.success) {
                                //跳转页面
                                if ("user"==result.data) {
                                    window.location.href = "main"
                                }else if("member"==result.data){
                                    window.location.href = "member"
                                }else{
                                    layer.msg("<a style='color:red;'>登录类型不正确！</a>", {time: 1000, icon: 2, shift: 6,});
                                }

                            } else {
                                layer.msg("<a style='color:red;'>登陆失败！</a>", {time: 1000, icon: 2, shift: 6,});
                            }


                        },
                        error: function () {
                            layer.msg("<a style='color:red;'>登陆失败！</a>", {time: 1000, icon: 2, shift: 6});
                        }
                    });
                }
            </script>
</body>
</html>




